<%- include ('../partials/header.ejs') %>
<%- include('../partials/navbarAuth.ejs') %>
<div class="contact-form section-padding-0-100">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading">
                    <br>
                    <h2>Usuario</h2>
                    <p>Editar de usuario</p>
                </div>
                <div class="row">
                    <div class="col-12">
                        <!-- Contact Form Area -->
                        <div class="contact-form-area">
                            <form action="/admin/usuario/editar" method="post">
                                <input type="hidden" name="id" value="<%=user.id%>">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="contact-name">Nome:</label>
                                        <input type="text" class="form-control" id="contact-name" value="<%=user.nickname%>" name="nickname">
                                    </div>
                                </div>
                                <div class="col-12 text-center">
                                    <button type="submit" class="btn crose-btn mt-15">Submeter</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<%- include('../partials/footer.ejs') %>