<%- include ('../partials/header.ejs') %>
<%- include('../partials/navbarAuth.ejs') %>
<div class="contact-form section-padding-0-100">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading">
                    <br>
                    <h2>Usuarios</h2>
                    <p>Listagem dos usuarios</p>
                    <hr>
                    <a href="/admin/usuario/adicionar" type="submit" class="btn crose-btn">Adicionar Usuarios</a>
                </div>
            </div>
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="contact-form-area">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Usuario</th>
                                    <th>Opções</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% users.forEach(user => { %>
                                    <tr>
                                        <td><%= user.id%></td>
                                        <td><%= user.nickname%></td>
                                        <td>
                                            <a href="/admin/usuario/editar/<%= user.id%>" class="btn btn-warning">Editar</a>
                                            <form action="/usuario/excluir" method="post" style="display: inline;">
                                                <input type="hidden" name="id" value="<%= user.id%>">
                                                <button class="btn btn-danger">Excluir</button>
                                            </form>
                                        </td>
                                    </tr>
                                <%})%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>