<%- include ('../partials/header.ejs') %>
<%- include('../partials/navbarAuth.ejs') %>
<div class="contact-form section-padding-0-100">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading">
                    <br>
                    <h2>Sermão</h2>
                    <p>Listagem do sermões cadastrados!</p>
                    <hr>
                    <a href="/admin/sermao/adicionar" type="submit" class="btn crose-btn">Adicionar Sermão</a>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" style="text-align: center;">Id</th>
                    <th scope="col" style="text-align: center;">Titulo</th>
                    <th scope="col" style="text-align: center;">Livro</th>
                    <th scope="col" style="text-align: center;">Pregador</th>
                    <th scope="col" style="text-align: center;">Link</th>
                    <th scope="col" style="text-align: center;">Upload</th>
                    <th scope="col" style="text-align: center;">Opções</th>
                </tr>
            </thead>
            <tbody>
                <% sermoes.forEach(sermao => { %>
                    <tr>
                        <td style="text-align: center;"><%= sermao.id%></td>
                        <td style="text-align: center;"><%= sermao.title%></td>
                        <td style="text-align: center;"><%= sermao.book%></td>
                        <td style="text-align: center;"><%= sermao.preacher%></td>
                        <td style="text-align: center;"><%= sermao.link%></td>
                        <td style="text-align: center;"><%= sermao.createdAt%></td>
                        <td>
                            <a href="/admin/sermao/editar/<%= sermao.id%>" class="btn btn-warning"><i class="fa fa-pencil"></i></a>
                            <form action='/sermao/excluir' method="post" style="display: inline;">
                                <%if(sermao.audio == null){ %>
                                    <input type="hidden" name="title" value="null">
                                <%}else{%>
                                    <input type="hidden" name="title" value="<%= sermao.title%>">
                                <%}%>
                                <input type="hidden" name="id" value="<%= sermao.id%>">
                                <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
                            </form>
                        </td>
                    </tr>
                <%})%>
            </tbody>
        </table>
        <div class="row">
            <!--Navegation-->
            <div class="col-12">
                <div class="pagination-area mt-70 mb-100">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <% if(pages[0]){%>
                                <li class="page-item"><a class="page-link" href="/admin/sermao/<%= page-1%>"><i class="fa fa-angle-left"></i></a></li>
                            <%}%>
                            <li class="page-item active"><a class="page-link" href="/admin/sermao/<%= page%>"><%= page%></a></li>
                            <% if(pages[1]){ %>
                                <li class="page-item"><a class="page-link" href="/admin/sermao/<%= page+1 %>"><%= page+1 %></a></li>
                            <%}%>
                            <% if(pages[2]){ %>
                                <li class="page-item"><a class="page-link" href="/admin/sermao/<%= page+2 %>"><%= page+2 %></a></li>
                            <%}%>
                            <% if(pages[3]){%>
                                <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
                            <%}%>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>