<%- include ('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %> 

<!-- ##### Blog Content Area Start ##### -->
<section class="blog-content-area section-padding-100">
    <div class="container">
        <div class="row justify-content-between">
            <!-- Blog Posts Area -->
            <div class="col-12 col-lg-8">
                <div class="blog-posts-area">

                    <!-- Post Details Area -->
                    <div class="single-post-details-area">
                        <div class="post-thumbnail mb-30">
                            <img src="<%= notice.image%>" alt="">
                        </div>
                        <div class="post-content">
                            <h2 class="post-title"><%= notice.title%> (<%= notice.date.getDate()%>/<%= notice.date.getMonth() + 1%>/<%= notice.date.getFullYear()%>%>)</h2>
                            <p><%- notice.notice%></p>
                            <!--<blockquote>
                                <div class="blockquote-text">
                                    <h6>“There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.” </h6>
                                    <h6>Ollie Schneider - <span>Parson</span></h6>
                                </div>
                            </blockquote> -->
                        </div>
                    </div>
                </div>
            </div> 

            <!-- Blog Sidebar Area -->
            <div class="col-12 col-sm-9 col-md-6 col-lg-3">
                <div class="post-sidebar-area">

                    <!-- ##### Single Widget Area ##### -->
                    <div class="single-widget-area">
                        <!-- Title -->
                        <div class="widget-title">
                            <h6>Categorias</h6>
                        </div>
                        <ol class="crose-catagories">
                            <%categories.forEach(category => {%>
                                <li><a href="/eventos/categoria/<%=category.title%>/1"><i class="fa fa-angle-right" aria-hidden="true"></i><%= category.title%></a></li>
                            <%})%>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Blog Content Area End ##### -->
<%- include('../partials/footer.ejs') %>