<%- include ('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<div class="contact-form section-padding-0-100">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading">
                    <br>
                    <h2>Eventos</h2>
                    <p>Listagem dos eventos cadastrados!</p>
                    <hr>
                    <a href="/admin/evento/adicionar" type="submit" class="btn crose-btn">Adicionar Evento</a>
                </div>
            </div>
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="contact-form-area">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Titulo</th>
                                    <th>Categoria</th>
                                    <th>Data</th>
                                    <th>Time</th>
                                    <th>Opções</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% notices.forEach(notice => { %>
                                    <tr>
                                        <td><%= notice.id%></td>
                                        <td><%= notice.title%></td>
                                        <td><%= notice.category.title%></td>
                                        <td><%= notice.date.getDate()%>/<%= notice.date.getMonth() + 1%>/<%= notice.date.getFullYear()%></td>
                                        <td><%= notice.time%></td>
                                        <td>
                                            <a href="/admin/evento/editar/<%= notice.id%>" class="btn btn-warning">Editar</a>
                                            <form action="/evento/excluir" method="post" style="display: inline;">
                                                <input type="hidden" name="image" value="<%= notice.image%>">
                                                <input type="hidden" name="title" value="<%= notice.title%>">
                                                <input type="hidden" name="id" value="<%= notice.id%>">
                                                <button class="btn btn-danger">Excluir</button>
                                            </form>
                                        </td>
                                    </tr>
                                <%})%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>